<marquee>
<h1>
Nome da máquina: {{ ansible_hostname }}
</br>
IP da máquina: {{ ansible_default_ipv4.address }}
</br>
Distro da máquina: {{ ansible_distribution_release }}
</br>
</h1>
</marquee>

<blink>
<h1>
Não pisca :/
</h1>
</blink>
